/* nav bar*/

.header-container {
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.header-contents-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

}

.nav-bar li {
    display: inline;
    padding: 10px;
}

.nav-bar a {
    color:black;
    text-decoration: none;
    font-size: 16px;
}

.nav-bar a:hover {
    color:rgb(233, 10, 10);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    display: inline;  
    font-family: 'Lato', sans-serif;   
}