html {
    font-size: 16px;
}
body {
    background-color: rgb(225, 215, 202);
}

.main-heading-container {
    width: 100%;
    margin: auto;
    font-size: 3rem
}

#main-heading {
    color:black;
    text-align: center;
    text-transform: uppercase;

}